/* ======= PAGINA ======= */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../MEDIA/thumb-1920-860645.png');
  background-size: cover;
  background-position: center;
}

/* ======= BLOK POSITIE OP DE ACHTERGROND ======= */
.blok {
  position: absolute;
  transform: translate(-50%, -50%);
}

#blok1 { left: 59%; top: 54%; }
#blok2 { left: 77%; top: 54%; }
#blok3 { left: 87%; top: 54%; }
#blok4 { left: 84%; top: 32%; }

/* ======= KNOP = vraagteken blok plaatje ======= */
.knop {
  width: 48px;
  height: 48px;
  background-image: url('../MEDIA/2ba9aee54c4300875e74b69b26f6fbea.png');
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
  display: block;
}

.knop:active {
  transform: translateY(-8px);
}

/* ======= COIN GIF boven de knop ======= */
.coin {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
}

.coin.actief {
  animation: springOmhoog 0.7s ease-out forwards;
}

@keyframes springOmhoog {
  0%   { opacity: 1; top:   0px; }
  40%  { opacity: 1; top: -70px; }
  100% { opacity: 0; top: -90px; }
}